:root{
  --hover: #66A7B1;
  --light: #EFE8BF;
  --green: #A3C40C;
  --ochre: #e2aa02;
  --back: rgba(0, 0, 0, .5);
  --light2: #C4EBE6;

}
body{
  background: rgb(11,21,31);
  background: radial-gradient(circle, rgba(11,21,31,1) 0%, rgba(24,54,79,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--light);
  margin: 50px;
  font-family: Didot, Times, serif;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  width: 950px;
}

footer{
  margin-top:auto;
}
img {
  border-radius: 2%;

}
.intro img{
  width: 400px;
  margin-top:25px;

}

.art img{
  width: 400px;
  margin: 0px 25px 25px 0px;

}

.intro{
  display: flex;
  flex-direction: row;
  width: 950px;
  justify-content: space-between;
}

.pinfo{
  width: 500px;

}

h1{
  background-image: radial-gradient(circle, var(--green), var(--ochre));
  background-clip: text;
  color: transparent;
  font-size:100px;
  margin: 0px 0px 25px;
}

h3{
  color: var(--light2);
  margin: 25px 25px 10px;
  font-weight: normal;
}

#projects {
  width:400px;
}

#art {
  width: 200px;
}

#arch {
  font-size: 80px;
  width: 840px;
}

#os {
  font-size:80px;
  width: 680px;
}

.project, .desc{
  width: 350px;
  height: 325px;
  margin: 0px 25px 25px 0px;
  background-color: var(--back);
  border-radius: 2%;
}

.desc {
  display: flex;
  width: 725px;
  height:auto;
}




.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}

.project img{
  width: 300px;
  height: 225px;
  margin: 25px 25px 10px;
}

.project p{
  text-align: center;
  width: 300px;
  margin:auto;
}

a{
  color: var(--ochre);
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

a:hover{
  color: var(--hover);
}

@media ((max-width: 1050px) and (min-width: 500px)) {
  .row {
    display: flex;
    flex-direction: column;
  }
  body{
    width: calc(100vw - 100px);
  }
  .intro{
    display: flex;
    flex-direction: column-reverse;
  }

  h1, #arch, #os, #projects{
    font-size: 65px;
  }

  .pinfo h1 {
    font-size: 85px;
    width: 90vw;
  }

 

  .pinfo, .intro {
    width: 75vw;
  }
  .desc{
    width: 400px;
  }
  .desc p, .desc img{
    width: 350px;
  }
  footer{
    margin-top:auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 500px){
  .row {
    display: flex;
    flex-direction: column;
  }
  body{
    width: 80vw;
    margin:auto;
    margin-top:25px;

  }
  .intro{
    display: flex;
    flex-direction: column-reverse;
  }
  h1, #arch, #os, #projects{
    font-size: 45px;
    width: 80vw;
  }
  .pinfo h1 {
    font-size: 50px;
  }

  

  .intro img{
    width:80vw;
    margin-top: 0px;
  }

  .art img {
    width:80vw;
  }

  .pinfo, .intro {
    width: 80vw;
  }
 

  .desc p, .desc img{
    width: 350px;
  }
  
  .project, .desc{
    width: 80vw;
    height: auto;
    margin-right: 0px;
  }

  .project img, .desc img, .project p, .desc p{
    width: calc(80vw - 50px);
    height: auto;
  }

  .project p {
    padding-bottom: 25px;
  }

  footer{
    margin-bottom: 50px;
  }


} 